<a href="https://colab.research.google.com/github/karima889/Test1/blob/main/Formation-Itab_Eleaning_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
var1=2*3*4
var1

24

In [15]:
#this is a comment
if 5>2:
      print("hello,world!")
      print("hello,world!")

hello,world!
hello,world!

In [16]:
pi=3.14  #approximative
diameter=3
#Create a variable called 'radius' equal to half the diameter
radius=diameter/2
#Calculate the area: pi*R2.
area=pi*radius**2
area
x=6
y=7
print(x,y)

6 7

In [33]:
x="amazing"
def myfunc():
  global x
  x="fantastic"
  print("this is "+ x)
 
myfunc()

print("this is "+x)

this is fantastic
this is fantastic

In [34]:
a=[1,2,3]
b=[5,8,9]
temp=a
a=b
b=temp
print(a)
print(b)

[5, 8, 9]
[1, 2, 3]

In [35]:
x="hello world"
print(x)
print(type(x),'\n')
x=7
print(x)
print(type(x),'\n')
x=7.9
print(x)
print(type(x),'\n')
x=1j
print(x)
print(type(x),'\n')

hello world
<class 'str'>

7
<class 'int'>

7.9
<class 'float'>

1j
<class 'complex'>

In [36]:
x=["apple","banana","orange"]
print(x)
print(type(x),'\n')
x={"apple","banana","orange"}
print(x)
print(type(x),'\n')
x=("apple","banana","orange")
print(x)
print(type(x),'\n')
x={"name":"karima","age":34}
print(x)
print(type(x),'\n')

['apple', 'banana', 'orange']
<class 'list'>

{'banana', 'orange', 'apple'}
<class 'set'>

('apple', 'banana', 'orange')
<class 'tuple'>

{'name': 'karima', 'age': 34}
<class 'dict'>

In [40]:
x=6
y=5.6
z=1j
a=float(x)
b=int(y)
c=complex(x)
d=str("S1")
print(a)
print(b)
print(c)
print(d)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

6.0
5
(6+0j)
S1
<class 'float'>
<class 'int'>
<class 'complex'>
<class 'str'>

In [52]:
name=str("moumane")
print(name[1])
print(name[2:4])
print(len(name))
prenom="  karima,moumane  "
print(prenom.strip())
print(name.upper())
print(name.lower())
print(name.replace("M","K"))
print(prenom.split(","))

o
um
7
karima,moumane
MOUMANE
moumane
moumane
['  karima', 'moumane  ']

In [57]:
txt="moumane karim at work"
y="li" in txt
print(y)
txte="my name is \"karima\" and i am {}"
print(txte.format(34))

False
my name is "karima" and i am 34

In [1]:
a=300
b=10
print(a>b)
if b>a:
 print("b greater than a")
else:
 print("b not greater than a")

True
b not greater than a